html{
    background-color: rgb(163, 159, 159)
}

#container{
    display: flex;
    flex-wrap: wrap;
    margin: 0% auto;
    margin-left: 2.6vw;
    transition: 0.3 ease;
}

#container > article{
    width: 20rem;
    border: 5px solid black;
    border-radius: 10px;
    margin: .5rem;
    padding: .3rem;
    background-color: white;
    transition: 0.3 ease;
}

#container > article:hover{
    transform: scale(1.05);
    transition: 0.3s;
}


p{
    color: black;
    font-family: 'rockwell';
}

h1{
    color: black;
    font-family: 'rockwell';
}

#container img{
    width: 100%;
    border-radius: 4px;
}

#titulo{
    color: black;
    text-align: center;
    align-items: center;
    margin-top: 20vh;
    font-size: 50px;
}

#botao{
    color: white;
    background-color: black;
    border-radius: 4px;
    height: 4vh;
    width: 6.5vw;
    font-family: 'rockwell';
    transition: 0.3s ease;
}

#botao:hover{
    color: black;
    background-color: white;
}

#p1{
    color: black;
    font-weight: bold;
    font-size: 20px;
}

#pagina-login{
    display: flex;
    text-align: center;
    align-items: center;
    font-family: 'rockwell';
}

#senha{
    width: 30vw;
    height: 4.2vh;
    border-radius: 4px;
    border: 1px solid white;
    font-family: 'rockwell';
}

#pagina-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
    margin-bottom: 20px; 
    margin-top: 41px;
}

#pesquisa {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    border: 1px solid white;
    border-radius: 4px;
}

.button-container {
    display: flex;
    gap: 10px;
}

.botoes-principais {
    display: flex;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-family: 'rockwell';
    transition: 0.3s ease;
}

.botoes-principais:hover{
    color: black;
    background-color: white;
}

#logout{
    padding: 10px 20px;
    position: absolute;
    top: 7%;
    right: 4vw;
    margin-top: -1vh;
    font-size: 16px;
    background-color: black;
    color: white;
    font-family: 'rockwell';
    border-radius: 4px;
    transition: 0.3s ease;
}

#logout:hover{
    background-color: white;
    color: black;
}

#titulo2{
    position: absolute;
    top: 7%;
    left: 4vw;
    margin-top: -1vh;
    font-family: 'rockwell';
    border-radius: 4px;
}

@media screen and (max-width: 768px) {
    #pagina-login {
        flex-direction: column;
    }

    #senha {
        width: 80vw;
        height: 6vh;
        font-size: x-large;
    }

    #botao {
        width: 40vw;
        margin: 35px;
        height: 8vh;
        font-size: x-large;
    }
}

@media screen and (max-width: 768px) {
    .botoes-principais{
        align-items: center;
        flex-direction: column;
    }
}
