html{
    background-color: rgb(163, 159, 159)
}

#container{
    display: flex;
    flex-wrap: wrap;
    margin: 0% auto;
    margin-left: 2.6vw;
}

#container > article{
    width: 20rem;
    border: solid black;
    border-radius: 5px;
    margin: .5rem;
    padding: .3rem;
    background-color: black;
}

p{
    color: white;
}

h1{
    color: white;
}

#container img{
    width: 100%;
}

#titulo{
    color: black;
    text-align: center;
    align-items: center;
    margin-top: 28vh;
    font-size: 50px;
}

#p1{
    color: black;
    font-weight: bold;
    font-size: 20px;
}

#pagina-login{
    display: flex;
    text-align: center;
    align-items: center;
    font-family: 'rockwell';
}

#senha{
    width: 30vw;
    height: 3.2vh;
    border-radius: 3em;
    border: none;
}

#botao{
    color: white;
    background-color: black;
    border-radius: 3em;
}
